body *{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}

body{
    background: url("https://a-static.besthdwallpaper.com/lenguaje-de-codificacion-de-programacion-papel-pintado-2560x1600-81236_7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar{
    top: 10px;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

#navbar ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    height: 100%;
    justify-content: right;
}

#navbar ul li{
    margin-right: 25px;
    margin-left: 25px;
    list-style: none;
    height: 100%;
    font-size: 20px;
}

#navbar ul li a{
    line-height: 50px;
}

#welcome-section{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    text-align: center;
}

#welcome-section img{
    width: 400px;
    border: 10px solid black;
    border-radius: 100%;
    background-color: white;
    margin-bottom: 20px;
}

#welcome-section #welcome{
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 40vh;
    margin: auto;
    padding-top: 60px;
}

#welcome-section #welcome span h1{
    display: block;
    font-family: monospace;
    font-size: 40px;
    white-space: nowrap;
    border-right: 4PX solid;
    width: 41ch;
    margin: auto;

    animation: write 3s steps(41),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes write{
    from{
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

#skills,#projects,#contact{
    margin-top: 40px;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

#skills #skills-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: col;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 25vh;
}

#skills #skills-content h1{
    width: 100%;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 90px;
}

#skills #skills-content .skill{
    height: 150px;
    flex-grow: 1;

}


#skills #skills-content .skill img{
    height: 150px;
}

#projects #title-work{
    width: 100%;
    font-family: monospace;
    text-transform: uppercase;
    padding-top: 10vh;
    margin-bottom: 5vh;
}

#projects #projects-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    width: 80%;
    margin: auto;
}

#projects #projects-container .project{
    margin-bottom: 60px;
}

#projects #projects-container .project img{
    width: 100%;
    
}

#projects #projects-container .project .project-title{
    background-color: #ccc;
    height: 40px;
}

#projects #projects-container .project .project-title a{
    color: black;
    line-height: 40px;
}

#contact{
    min-height: 92vh !important;
}

#contact #title{
    width: 100%;
    font-family: monospace;
    text-transform: uppercase;
    padding-top: 25vh;
    margin-bottom: 5vh;
}

#contact #title h1{
    font-size: 40px;
}

#contact #title h3{
    color: #ccc;
}

#contact #socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
#contact #socials .social{
    flex-grow: 1;
}

#contact #socials .social img{
    height: 150px;
}

footer{
    width: 100%;
    height: 8vh;
    text-align: center;
    line-height: 8vh;
    background-color: #ccc;
}

footer h3{
    color: black;
}

@media(max-width:1150px) {
    #projects #projects-container{
         justify-content: center;
    }
}

@media(max-width:950px) {
    #welcome-section #welcome span h1{
        font-size: 30px;
    }
}

@media(max-width:750px) {
    #welcome-section #welcome span h1{
        font-size: 25px;
    }
}

@media(max-width:600px) {
    #welcome-section #welcome span h1{
        font-size: 20px;
    }

    #skills #skills-content{
        padding-top: 5vh;
        justify-content: center;
        padding-bottom: 5vh;
    }
       
    #skills #skills-content .skill{
        width: 100%;   
        margin-bottom: 40px; 
    }
}

@media(max-width:500px) {
    #welcome-section #welcome span h1{
        font-size: 15px;
    }

    #navbar ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #contact #title{
        padding-top: 15vh;
        margin-bottom: 5vh;
    }

    #welcome-section img{
        margin-top: 200px;
        width: 200px;
        border: 10px solid black;
        border-radius: 100%;
        background-color: white;
        margin-bottom: 20px;
    }
}